script
  window.setTimeout(function(){
    window.location.href = window.location.href;
  }, 60000);
a(href='instance/' + inst)
  h1.phrase= phrase
ul.toolbar
  li SAVE
  li NEXT
  li SHARE
  li TRANSLATE