script(src="/javascripts/jquery172.js")
script(src="/javascripts/views.js")
a(href='instance/' + inst)
  h1.phrase= phrase
ul.toolbar
  li#save SAVE
  li#share SHARE
  li#translate TRANSLATE
  li#next NEXT