body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #333;
}
h1 {
	color: white;
}
h1.phrase {
	margin: 80px auto;
	text-align: center;
	font-size: 3em;
}
p {
	color: #CCC;
}
a {
  color: #00B7FF;
}