html {
	background-color: #333;
}
@font-face {  
  font-family: Naxos ;  
  src: url( /fonts/NAXOSN.TTF ); format("truetype");  
} 
#header {
	background-color: #76C000;
	font-size: 1em;
	color: white;
	padding: 20px;
	letter-spacing: 2px;
}
body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #333;
  margin: 0 auto;
  width: 960px;
}
h1 {
	color: white;
}
h1.phrase {
	margin: 40px auto 0px auto;
	text-align: center;
	font-size: 3em;
}
p {
	color: #CCC;
}
a {
  color: #00B7FF;
  text-decoration: none;
}
ul.toolbar {
	width: 275px;
	height: 75px;
	margin: 0px auto;
	border-radius: 5px;
	list-style: none;
	color: #544;
	font-size: 1em;
	padding-left: 20px;
}
ul.lenses {
	font-family: Naxos;
	font-size: 2.4em;
	list-style: none;
	text-shadow: 2px 1px 4px #444;
	color: #222;
	margin: 30px auto;
	width: 200px;
	overflow: auto;
	padding: 0px;
}
ul#instanceList {
	list-style: none;
	color: #AAA;
	margin: 10px auto;
	width: 600px;
}
ul.lenses li {
	float: left;
	border: 1px solid;
	padding: 10px;
}
ul.lenses li:hover {
	cursor: pointer;
	color: #222A22;
}
.active {
	color: #454;
	text-shadow: 2px 1px 4px #111;
}

ul.toolbar li {
	float: left;
	padding: 30px 10px;
	cursor: pointer;
}
ul.toolbar li:first-child {
	padding-left: 10px;
}
ul.toolbar li:hover {
	color: white;
}
.hidden {
	display: none;
}
